// IMPORT SECTION

//@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
//@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
//@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
//@import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites


// USER VARIABLES SECTION

$accent:     orange; // Accent Color
$fontsize:   16px; // Body Font Size
$textcolor:  #333; // Text Color
$mainfamily: Roboto, sans-serif; // Main Font Family

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;


// FONTS LOAD SECTION

@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	}
}

/* --------------------- Задний фон на весь экран (выходя за враппер) -----*/
@mixin background_line($color) {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: auto;
		left: -100%;
		right: -100%;
		top: 0;
		background-color: $color;
		z-index: -1;
	}
}


@include font('Roboto', normal, 100, '../fonts/Roboto_medium.ttf');
//@include font('SFpro', italic, 100, '../fonts/SFProDisplay-SemiboldItalic.woff');


// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $mainfamily !important;
	overflow-x: hidden;
	color: $textcolor !important;
	font-size: $fontsize !important;
	font-weight: normal !important;
}