@import 'config';

$brown: #E1A361; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$mainfamily: Roboto, sans-serif; // Main Font Family

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	color: #fff !important;

	&:hover {
		color: inherit !important;
		text-decoration: none !important;
	}
}

ul {
	list-style: none;
	margin: 0;
}

img {
	max-width: 100%;
}

.item a {
	outline: none;
	padding: 0 10px;
	display: flex;
}

.slick-arrow {
	position: absolute;
	top: 45%;
	z-index: 10;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0;
	width: 30px;

	&:focus {
		outline: none;
	}
}

.slick-prev {
	left: -40px;
}

.slick-next {
	right: -40px;
}

.item img {
	margin: 0 auto;
}

.slick-slide {
	margin: 0 10px;
}

.slick-dots {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	margin-top: 30px;
	padding-left: 0;

	li.slick-active {
		button {
			background: #E1A361;
			border-color: #E1A361;
		}
	}

	li {
		padding: 10px;

		button {
			background: transparent;
			border: 2px solid #777;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0;
			outline: none;

			&:hover {
				box-shadow: 0 0 7px 2px rgba(#736A6A, .36);
				background-color: #E1A361;
				border-color: #E1A361;
			}
		}
	}
}

.scroll {
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 45px;
	height: 45px;
	z-index: 100;
	cursor: pointer;
	display: none;
}

.scroll:hover {
	transform: rotate(720deg);
	transition: all 0.5s linear;
}

#modal {
	display: none;
	overflow: hidden;
	background-image: url(../images/dest/personal.png);
	background-repeat: no-repeat;
	background-size: 260px auto;
	background-position: 80% bottom;
}

#modal .img-box {
	position: relative;
	right: -50px;
	bottom: -50px;
}

#modal form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 180px;
	margin-top: 20px;
}

#modal form input {
	outline: none;
	padding: 5px 3px;
	margin: 0 5px;
	font-size: 18px;
	border: 1px solid #777;
}

#modal form button {
	background-color: #d41014;
	padding: 20px 0;
	width: 210px;
	box-shadow: 0 0 4px 2px #d87c7c;
	transition: all .3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border: 0;
}

#modal form button:hover {
	color: #fff;
	transform: scale(1.1);
}

#modal h4 {
	font-weight: 900;
}

#burger-box {
	width: 50px;
	background: rgba(0, 0, 0, 0.7);
	height: 50px;
	border-radius: 50%;
	left: 310px;
	top: 20px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 1s ease;
}

.center {
	left: 125px !important;
	top: 20px !important;
}

.show {
	left: 0 !important;
	transition: 1s ease;
}

.burger {
	width: 60%;
	height: 4px;
	background: #fff;
}

.burger:after {
	content: '';
	position: absolute;
	top: 13px;
	width: 60%;
	height: 4px;
	background: #fff;
}

.burger:before {
	content: '';
	position: absolute;
	bottom: 13px;
	width: 60%;
	height: 4px;
	background: #fff;
}

.mobilemenu-block {
	background: rgba(0, 0, 0, 0.8);
	width: 300px;
	transition: 1s ease;
	position: fixed;
	z-index: 1000;
	left: -300px;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

.closed {
	content: '';
	width: 100%;
	height: 0px;
}

.closed:after {
	content: '';
	position: absolute;
	top: 23px !important;
	width: 60%;
	right: 10px;
	height: 5px;
	background: #fff;
	transform: rotate(-45deg);
}

.closed:before {
	content: '';
	position: absolute;
	top: 23px;
	width: 60%;
	right: 10px;
	height: 5px;
	background: #fff;
	transform: rotate(45deg);
}

.mobile-menu {
	width: 70%;
	margin: 100px auto;
	border-radius: 10px;
}

.mobile-menu ul {
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.mobile-menu li {
	padding-top: 35px;
	margin: 0 auto;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
	list-style-type: none;
	position: relative;
}

.mobile-menu a {
	text-decoration: none !important;
}

// --------------------------------------------------------------------------------------------------------------------- CUSTOM USER STYLES & IMPORTS
html {
	overflow-x: hidden;
}

.dropdown .show {
	transition: none;
}

header {
	.logo {
		img {
			max-width: 220px;
		}
	}
	.header_location {
		padding-left: 25px;
		background: url(../images/dest/address.svg) no-repeat 0 10px / 15px auto;
		max-width: 180px;
	}

	.btn.focus, .btn:focus {
		box-shadow: none;
	}

	.phone_one {
		padding-left: 25px;
		background: url(../images/dest/phone.svg) no-repeat 0 1px / 13px auto;
	}

	.phone_two {
		padding-left: 25px;
		background: url(../images/dest/phone_mobile_red.svg) no-repeat 0 4px / 13px auto;
	}

	.top_bar {
		padding-top: 20px;
	}

	.main_menu {
		margin-top: 20px;
		padding: 10px 0;
		text-transform: uppercase;
		@include background_line(#0a3c94);

		a {
			color: #fff !important;
		}
		.dropdown-menu {
			background-color: #0a3c94;
			font-size: 12px;
			border: 1px solid #fff
		}
		.dropdown-item:focus,
		.dropdown-item:hover {
			background-color: transparent;
		}
	}

	a {
		color: $textcolor !important;
	}

	.header_social {
		justify-content: flex-end;

		a {
			width: 30px;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

section#osteklenie {
	.img_osteklenie {
		img {
			width: 100%;
			max-height: 640px;
		}
	}
	.more_info_cont {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.info_block {
		max-width: 385px;
		margin-left: auto;
	}

	.title {
		h1 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.img_mouse {
		width: 50px;
		position: relative;
		margin: 60px 0;

		&:after {
			content: '';
			position: absolute;
			width: 2px;
			height: 50px;
			background-color: #eaeaea;
			left: calc(50% - 1px);
			bottom: 100%;
			margin-bottom: 10px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 50px;
			background-color: #eaeaea;
			left: calc(50% - 1px);
			top: 100%;
			margin-top: 10px;
		}
	}

	.more_info {
		background-color: #d41014;
		padding: 20px 0;
		width: 260px;
		box-shadow: 0 0 4px 2px #d87c7c;
		margin: 20px 0;
		transition: all 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			transform: scale(1.1);
			color: #fff !important;

		}
	}
}

section#calculation {
	.img_calculation {
		img {
			width: 100%;
			max-height: 760px;
		}
	}
	.calculation_block {
		max-width: 710px;
		padding-left: 70px;
		padding-top: 50px;
		margin-right: auto;
	}
	.calculation_fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.calculation_item {
		width: calc(50% - 20px);
		margin-top: 40px;
		input[type="text"] {
			padding: 20px 10px;
			border-radius: 10px;
			border-color: #0a3c94;
			width: 100%;
		}
		input[type="radio"] {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
		.i_type_window {
			position: relative;
			padding-left: 30px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #fff;
				border: 2px solid #fff;
				box-shadow: 0 0 0 2px #0a3c94;
			}
			&.active {
				&:before {
					background-color: #d41014;
				}
			}
		}
	}
	.calculation_title {
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		padding-bottom: 10px;
		&:after {
			content: '';
			position: absolute;
			width: 50%;
			height: 3px;
			background-color: #d41014;
			bottom: 0;
			left:50%;
			transform:translate(-50%,-50%);
		}
	}
	.order_block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.to_order {
		background-color: #d41014;
		padding: 20px 0;
		box-shadow: 0 0 4px 2px #d87c7c;
		transition: all 0.3s ease;
		width: 260px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			transform: scale(1.1);
			color: #fff !important;
		}
	}
	.total {
		text-align: center;
		margin: 40px 0;
		font-size: 25px;
	}
}

.section_title {
	display: inline-block;
	margin: 0 auto 40px;
	position: relative;
	padding-bottom: 10px;
	font-size: 30px;
	text-transform: uppercase;
	&:before {
		content: '';
		position: absolute;
		width: 70%;
		height: 3px;
		background-color: #d41014;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

section#gallery {
	padding: 50px 0;
}

section#about_us {
	padding-bottom: 50px;
	background-image: url(../images/dest/about_us.png);
	background-repeat: no-repeat;
	background-size: 100% 350px;
}

section#call_personal {
	padding: 50px 0 0;
	background: url(../images/dest/personal_bg.png) no-repeat center;
	background-size: cover;
	.call_personal_container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.call_personal_block {
		max-width: 670px;
		margin-left: auto;
		padding-right: 10%;
	}
	.title {
		font-size: 34px;
		text-transform: uppercase;
	}
	.description {
		font-size: 19px;
		span {
			color: #d41014;
			text-transform: uppercase;
		}
	}
	.request_personal_block {
		margin: 30px 0;
		a {
			background-color: #d41014;
			padding: 20px 0;
			width: 260px;
			box-shadow: 0 0 4px 2px #d87c7c;
			margin: 20px 0;
			transition: all 0.3s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				transform: scale(1.1);
				color: #fff !important;

			}
		}
	}
	.personal_img {
		padding-top: 50px;
		img {
			max-width: 400px;
		}
	}
}

footer {
	.title {
		font-size: 35px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.contact_block {
		max-width: 350px;
		padding-right: 50px;
		margin-left: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.contact_items {
		a {
			color: #333333 !important;
		}
	}
	.contact_item {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		padding-left: 35px;
	}
	.contact_item:nth-child(1) {
		background: url(../images/dest/address.svg) no-repeat 0 5px / 25px auto;
	}
	.contact_item:nth-child(2) {
		background: url(../images/dest/clock_red.svg) no-repeat 0 5px / 30px auto;
	}
	.contact_item:nth-child(3) {
		background: url(../images/dest/mail_red.svg) no-repeat 3px 5px / 22px auto;
	}
	.contact_item:nth-child(4) {
		background: url(../images/dest/phone_mobile_red.svg) no-repeat 3px 5px / 21px auto;
	}
	.f_bottom_menu_block {
		background-color: #202020;
		position: relative;
		padding: 40px 0;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: auto;
			left: -100%;
			right: -100%;
			top: 0;
			background-color: #202020;
			z-index: -1;
		}
		a {
			color: #fff !important;
			&:hover {
				color: #fff !important;
			}
		}
	}
	.f_bottom_menu_cont a {
		display: block;
	}
	.f_bottom_menu_cont {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				font-size: 15px;
				text-transform: uppercase;
			}
		}
	}
	.f_bottom_contact_block {
		border-top: 2px solid #434343;
		padding-top: 40px;
		margin-top: 40px;
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
		.mail {
			padding-left: 35px;
			background: url(../images/dest/mail.svg) no-repeat 3px 5px / 22px auto;
		}
		.numbers {
			display: flex;
			flex-direction: column;
			padding-left: 35px;
			background: url(../images/dest/phone_mobile.svg) no-repeat 3px 5px/21px auto;
		}
		.f_bottom_social a {
			width: 30px;
		}
		.f_bottom_social a:not(:last-child) {
			margin-right: 10px;
		}
	}
}

@media screen and (max-width: 1199px) {
	section#osteklenie .info_block {
		padding-left: 20px;
		margin-top: 20px;
	}
	section#calculation .calculation_block {
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 100%;
	}
	#calculation .img_calculation {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	section#about_us {
		background-size: 100% auto;
	}
	section#osteklenie .title h1,
	section#calculation .calculation_title {
		font-size: 22px;
	}
	section#osteklenie .title h2,
	section#calculation .total {
		font-size: 20px;
	}
	header .header_location {
		margin-left: auto;
	}
	header .phone_one,
	header .header_social {
		margin-top: 20px;
	}

	.mobile-menu {
		.dropdown-menu.show {
			left: calc(50% - 106px) !important;
		}
		.dropdown-menu {
			background-color: #0a3c94;
			font-size: 12px;
			border: 1px solid #fff;
		}
		.btn.focus, .btn:focus {
			box-shadow: none;
			color: #fff !important;
		}
		li {
			text-align: left;
			width: 100%;
		}
		a {
			color: #fff !important;
			padding-left: 10px !important;
		}
	}
}

@media screen and (max-width: 767px) {
	section#osteklenie .info_block {
		padding-right: 20px;
	}
	section#osteklenie .img_mouse {
		display: none;
	}
	section#osteklenie .more_info {
		width: 220px;
	}
}

@media screen and (max-width: 620px) {
	.slick-next {
		right: 20px;
	}
	.slick-prev {
		left: 20px;
	}
}

@media screen and (max-width: 575px) {
	section#osteklenie .img_mouse {
		display: block;
	}
	section#osteklenie .info_block {
		margin: 20px auto 0;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	section#calculation .calculation_item:nth-child(1n+3) {
		width: 100%;
	}
	section#calculation .calculation_item {
		width: calc(50% - 5px);
	}
	body {
		font-size: 14px !important;
	}
	header .logo img {
		max-width: 140px;
	}
}

@media screen and (max-width: 380px) {
	header .logo img {
		max-width: 120px;
	}
}
